In [6]:
import pandas as pd
import numpy as np
np.set_printoptions(linewidth = 200)
nfl_2024_schedule = pd.read_csv("nfl_2024_thru_wk_04.csv")
wk_away_home_info = nfl_2024_schedule.loc[:, ['week', 'away_team', 'away_score', 'home_team', 'home_score']]
week_03 = wk_away_home_info[0:64]
teams = ['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL', 'DEN', 'DET', 'GB', 'HOU', 'IND', 'JAX', 'KC', 
         'LAC', 'LA', 'LV', 'MIA', 'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'PHI', 'PIT', 'SEA', 'SF', 'TB', 'TEN', 'WAS']

d = {}
for v, k in enumerate(teams):
    d[k] = v

df = week_03
s1 = df.shape
M1 = np.zeros([ s1[0], 33 ])

for i in range(s1[0]):
    M1[i, 32] = np.abs(df.iloc[i, 2] - df.iloc[i, 4])
    if df.iloc[i, 2] > df.iloc[i, 4]:
        M1[i, d[ df.iloc[i, 1]] ], M1[i, d[ df.iloc[i, 3]] ] = 1, -1
    elif df.iloc[i, 2] < df.iloc[i, 4]:
        M1[i, d[ df.iloc[i, 1]] ], M1[i, d[ df.iloc[i, 3]] ] = -1, 1
    else:
        M1[i, d[ df.iloc[i, 1]] ], M1[i, d[ df.iloc[i, 3]] ] = 1, 1

s = np.array(M1.shape)
p1 = M1[:, -1]
M1 = M1[:, 0:-1]

b = np.ones( s[1] - 1 ) + ( 0.5*np.sum( M1, axis=0 ) )

sm1 = np.array((M1.T@M1).shape)

p = M1.T@p1
p[-1,] = 0

M = M1.T@M1

C = M+2*np.identity(32);

M[-1,:] = np.ones(sm1[1])

r = np.linalg.lstsq(M, p, rcond=None)[0]

df3 = pd.DataFrame(
    {
        "Team" : teams,
        "Massey_ranking" : r
    }
)
df3_sorted_massey = df3.sort_values(by = "Massey_ranking", ascending = False, ignore_index = True)

rc = np.linalg.solve(C,b)
rc1 = np.linalg.inv(C.T@C)@C.T@b

df3 = pd.DataFrame(
    {
        "Team" : teams,
        "Colley_ranking" : rc1
    }
)

df3_sorted_cooley = df3.sort_values(by = "Colley_ranking", ascending = False, ignore_index = True)

In [8]:
df3_sorted_massey

   Team  Massey_ranking
0   MIN       15.100071
1    NO       14.669328
2    TB       11.934954
3   PIT       11.320676
4   DEN        8.846401
5    GB        8.710406
6   PHI        8.373498
7    KC        8.353711
8   ATL        8.179303
9    SF        6.404998
10  DET        6.085915
11  WAS        5.434002
12  NYJ        4.228648
13  LAC        3.843472
14  BAL        3.092375
15  IND        2.413529
16  SEA        0.901324
17  BUF       -1.403425
18  CIN       -1.700305
19  ARI       -2.075225
20  DAL       -2.577888
21  CHI       -4.085261
22  NYG       -5.423414
23  TEN       -6.045473
24   NE       -6.291334
25  HOU       -6.291706
26   LA       -8.417393
27   LV      -10.002899
28  CAR      -12.297601
29  CLE      -15.649841
30  MIA      -22.035684
31  JAX      -23.595164

In [10]:
df3_sorted_cooley

   Team  Colley_ranking
0   MIN        0.843343
1    KC        0.840859
2    TB        0.745728
3   PIT        0.718623
4   DET        0.682298
5   HOU        0.667691
6   SEA        0.644144
7   WAS        0.636725
8   ATL        0.600899
9   DEN        0.593007
10  IND        0.567846
11  PHI        0.562340
12  LAC        0.549986
13  BUF        0.549329
14   GB        0.543842
15  BAL        0.543631
16   SF        0.492010
17   NO        0.483573
18  CHI        0.476918
19  NYJ        0.449544
20   LV        0.436916
21  DAL        0.434680
22  ARI        0.367467
23  NYG        0.356518
24  CIN        0.350638
25   LA        0.336449
26   NE        0.322723
27  CAR        0.303519
28  TEN        0.289524
29  MIA        0.266839
30  CLE        0.224358
31  JAX        0.118036